<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebDevelopment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebDevelopment.styles.css" asp-append-version="true" />
    <script src="js/editor/ace.js"></script>
    <script src="js/editor/theme-dracula.js"></script>

    <style>
        body {
            background-color: #252525;
        }

        #my-navbar {
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            color: white;
        }

        #my-navbar li {
            float: left;
        }

    </style>
</head>
<body>
    <header>
        <nav>
            <ul id="my-navbar">
                <li>Home</li>
                <li>HTML editor </li>
            </ul>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </header>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebDevelopment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
