@{
    ViewData["Title"] = "Home Page";
}
 
<div class="container" id="code"> 
    <form id="code-form" action="HtmlCode/GeneratePage" target="_blank" method="post">
        <label for="HtmlCodeEditor">HTML code:</label>
        
       
        <!--Here will be HTML input-->
        <textarea id="" name="htmlCode">
       
        </textarea>

        <!--Here will be CSS input-->
        <textarea name="cssCode">
       
        </textarea>

         <!--Here will be JS input-->
        <textarea name="jsCode" >
       
        </textarea>

        <input type="submit" value="Open in new tab">
    </form>
</div>

<div class="container" id="preview">
    <iframe>

    </iframe>
</div>