@{
    ViewData["Title"] = "Home Page";
}

<div> 
    <form id="code-form" action="HtmlCode/test">
        <label for="HtmlCodeEditor">HTML code:</label>
        <input type="text" id="HtmlCode" name="htmlCode">
        <input type="submit" value="Submit">
    </form>


    <!--TUTAJ EDYTOR BĘDZIE-->
    <textarea form="code-form">
       
    </textarea>
</div>  