@{
    ViewData["Title"] = "Home Page";
}
 
<div class="container" id="code"> 
    <form id="code-form" action="HtmlCode/GeneratePage" target="_blank" method="post">
        <label for="HtmlCodeEditor">HTML code:</label>
        
       
        <!--Here will be HTML input-->
        <div class="editor" id="htmlEditor" style="width: 800px; height: 400px;">Put your HTML here</div>

        <!--Here will be CSS input-->
        <div class="editor" id="cssEditor" style="width: 800px; height: 400px;">Put your CSS here</div>

         <!--Here will be JS input-->
        <div class="editor" id="jsEditor" style="width: 800px; height: 400px;">Put your JS here</div>

    </form>
</div>

<div class="container" id="preview">
    <iframe id="previewOutput" src="\default.asp">

    </iframe>
</div>